$root-layer: #0B0B0B;
$surface: rgba(255, 255, 255, 4%);

$accent: #51ABFF;
$accent-secondary: #51ABFF9d;
$disabled: rgba(255, 255, 255, 30%);

$padding-horizontal: 20px;
$padding-vertical: 10px;
$padding: $padding-vertical $padding-horizontal;

$text: #fff;
$secondary: #999;
$size: 13px;

$stroke-color: rgba(255, 255, 255, 15%);
$stroke-width: 1px;